{% extends "campaigns/layout.html" %}

{% block body %}
    <h1>Vacancy: {{ vacancy.id }}</h1>
    <ul>
           <li>Employer: {{ vacancy.employer }}</li>
           <li>Role: {{ vacancy.role }}</li>
           <li>Requirements: {{ vacancy.requirements }}</li>  
    </ul>
    <a href="{% url 'index' %}">All Vacancies</a>

    <h2>Already Registered</h2>

    <ul>
        {% for employee in employees %}
            <li>{{ employee }}</li>
        {% empty %}
            <li>Not Registered Yet</li>
        {% endfor %}    
    </ul>

    <h2>Interaction</h2>

    <form action="{% url 'interaction' vacancy.id %}" method="post">
        {% csrf_token %}
        <select name="employee">
            {% for employee in non_employees %}
                <option value="{{ employee.id }}">{{ employee }}</option>
            {% endfor %}
        </select> 
        <input type="submit">
    </form>
           
{% endblock %}